.new-blend-form  {
  border: 1px solid;
  border-radius: 5px;
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}
.new-blend-form * {
  margin: 2px 0;
}
.blendsubmittal {
  margin-bottom: 10px;
}
.blendpreview {
  display: flex;
  flex-direction: column;
  
}
.blendpreview > div {
  margin: 5px 0;
}
@media screen and (max-width: 600px) {
  .spice-select {
    width: 200px;
    font-size: 12px;
  }
  .new-blend-form {
    font-size: 12px;
  }
  .blend-select {
    font-size: 12px;
  }
}