.new-blend-form  {
  border: 1px solid;
  border-radius: 5px;
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}
.new-blend-form * {
  margin: 2px 0;
}
.blendsubmittal {
  margin-bottom: 10px;
}